<div class="widget-clip clearfix">
    <h4 class="title"><a href="{{.Permalink}}">{{.Title}}</a> ({{.Params.length}})</h4>
    <a class="share-clip" href="javascript://" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Will launch sharing options for this clip"></a>
    <div id="div-{{.UniqueID}}" class="video {{ if .Params.clip_commentary }}commentary-on{{ end }}">
        {{ if .Params.clip_original }}
        <video id="video-{{.UniqueID}}" class="video-js vjs-default-skin vjs-big-play-centered" poster="/img/assets/clipposter/{{.Title | urlize | lower}}.jpg"
        controls preload="auto" width="480" height="360"
        data-setup='{}'>
        {{ if .Params.clip_commentary }}
            <source src="{{.Params.clip_commentary}}" type="video/mp4">
        {{ end }}
            <source src="{{.Params.clip_original}}" type="video/mp4">
        </video>
        
        {{ else }}
        
        <div class="placeholder-clip">
        </div><!-- /.placeholder-clip -->
        
        {{ end }}



    </div><!-- /.video -->
    <div class="data">
        <div class="row">
            <div class="film col-sm-6">
                <b class="clip-field">Film:</b> <i>{{.Params.film}}</i>, {{.Params.year}}<br />
                <b class="clip-field">Director:</b> {{ if .Params.director }} {{.Params.director}}{{ else }}{{.Params.director_first}} {{.Params.director_last}}{{end}}<br />
                <b class="clip-field">Source:</b> {{.Params.source}}
            </div>
            {{ if .Params.commentary }}
            <div class="commentator col-sm-6 clearfix">
             <div class="avatar">
                <img src="/img/icon-avatar.png" alt="" width="60" height="60" />
            </div>
            <div class="bio">
                <b class="clip-field">Commentary by:</b><br />
                {{.Params.commentator }}<br />
            </div>
            </div>
            {{end}}
        </div>
        <div class="clip-related-terms">
            <b class="clip-field">This clip appears in:</b>
            {{ range $i, $e := .Params.clipterms }}{{if $i}}, {{end}}<a href="/term/{{ . | urlize | lower}}/">{{$e}}</a> {{ end }}
        </div>
    </div>
</div><!-- /.widget-clip -->
