body {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 60px;
  position: relative;
}

h3 { margin-top: 30px;}

.footer {
    width: 100%;
    margin: 40px auto 0 auto;
    color: #fff;
    background: #69c;
    height: 50px;
}

.navbar-clfg {
    background-color: #000;
    /*height: 75px;*/
}

.navbar-clfg .navbar-brand {
    display: block;
    height: 35px;
    width: 130px;
    padding: 0;
    margin-top: 8px;
    background: transparent url('/img/logo-cflg-sml.png') center center no-repeat;
}

.navbar-clfg .navbar-brand span {
    display: none;
}

/* -- Individual Term page */

.term-page-content {
    display: block;
    margin-top: 80px;
}

/* -- Generic page */

.generic-page-content {
    display: block;
    margin-top: 80px;
}

/* --- Video Clip widget embed in term page */

.widget-clip {
    position: relative;
    margin: 30px 0;
    padding: 8px 5px 5px 5px;
    border: 1px solid #e0e0e0;
    background-color: #efefef;
    width: 100%;
}

.widget-clip .title {
    margin: 0;
    padding: 0 0 8px 5px;
    color: #000;
    font-size: 16px;
}

.widget-clip .video {
    background-color: transparent;
    padding: 0;
    float: left;
}

.widget-term-clip .video-js {
    width: 480px;
    height: 360px;
}

.widget-single-clip .video-js {
    width: 640px;
    height: 480px;
}

.widget-clip .video video {
    display: block;
    margin: auto;
    border: 0;
    padding: 0;
}

.widget-clip .data {
    margin: 0 0 0 480px;
    padding: 0;
    color: #000;
    background-color: transparent;
    min-width: 200px;
    font-size: 12px;
}

.widget-clip .data .film {
    margin-left: 10px;
    padding: 0;
    color: #000;
    background-color: transparent;
    display: block;
}

.widget-clip .data dd {
    padding-left: 5px;
    padding-bottom: 10px;
}

.widget-clip .data .commentator .avatar,
.widget-clip .data .commentator .avatar img {
    height: 40px;
    width: 40px;
    float: right;
}

.widget-clip .data .commentator .bio {
    margin-left: 50px;
}

.widget-clip .title a {
    color: #000;
}

.vjs-control.vjs-commentary-button:before {
    font-family: VideoJS;
    content: "\e00c";
    text-align: left;
}
.vjs-control.vjs-commentary-button {
    float: right;
    cursor: pointer;
    margin-right: 5px;
}
.vjs-control.vjs-commentary-button:after {
    content: '\00a0 Off';
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    line-height: 2.5;
    margin-left: 15px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.commentary-on .vjs-control.vjs-commentary-button:after {
    content: '\00a0 On';
}

.commentary-on .vjs-control.vjs-commentary-button {
    color: #66a8cc;
}
.widget-clip .vjs-big-play-button {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 0;
}
.widget-clip .vjs-big-play-centered .vjs-big-play-button {
    margin-left: -40px;
}

.placeholder-clip {
    width: 480px;
    height: 360px;
    background: transparent url('/img/placeholder-clip.png') center center no-repeat;
   display: block;
    margin: auto;
    border: 0;
    padding: 0;
}


/* --- Video Clip widget embed in clip page */

.widget-single-clip {
    position: relative;
    margin: 0 auto 30px auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    width: auto;
}

.widget-single-clip .vjs-big-play-centered .vjs-big-play-button {
    margin-left: -40px;
}



/* --- Image asset widget embed in term page */

.widget-image {
    position: relative;
    margin: 30px auto;
    padding: 0;
    border: 0;
}

.widget-image img {
    margin: auto;
    padding: 10px;
    border: 15px solid #e0e0e0;
    display: block;
}

.widget-image .caption {
    margin: auto;
    padding: 10px;
    border: 0;
    display: block;
    text-align: center;
    font-style: italic;
}



.widget-share {
    margin: 0 0 40px 0;
    padding: 0;
    border: 0;
}

.widget-related-terms {
    margin: 0 0 40px 0;
    padding: 0;
    border: 0;
}

.widget-allterms-menu {
    margin: 0;
    padding: 0;
    border: 0;
}

.widget-related-terms ul,
.widget-allterms-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.widget-related-terms li,
.widget-allterms-menu li {
    padding: 2px 0;
    font-size: 15px;
}

.widget-share h4,
.widget-related-terms h4,
.widget-allterms-menu h4 {
    margin-top: 0;
    padding-top: 0;
}

.widget-allterms-menu h4 {
    cursor: pointer;
}


.widget-allterms-menu h4 span {
    font-size: 14px;
    color: #69c;
}

.widget-allterms-menu #wrapper {
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
    background-color: #fbfbfb;
    width: 300px;
}

.widget-allterms-menu ul {
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    /*-webkit-overflow-scrolling: touch;*/
    background-color: #fbfbfb;
}

.widget-allterms-menu li:hover {
    background-color: #ebf2fe;
}

.widget-allterms-menu ul::-webkit-scrollbar {
    -webkit-appearance: none;
}

.widget-allterms-menu ul::-webkit-scrollbar:vertical {
    width: 11px;
}

.widget-allterms-menu ul::-webkit-scrollbar:horizontal {
    height: 11px;
}

.widget-allterms-menu ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid white; /* should match background, can't be transparent */
    background-color: #c1c1c1;
}

.widget-allterms-menu ul::-webkit-scrollbar-track { 
    background-color: #f8f8f8;
} 


.widget-share-icons {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

.widget-share-icon {
    margin: 0 10px 0 0;
    padding: 0;
    border: 0;
    width: 32px;
    height: 32px;
    display: block;
    float: left;
}

.in-development {
    color: #999;
}

.demo-popover {
    margin: 0;
    padding: 0;
    border: 0;
    width: 32px;
    height: 32px;
    display: block;
}

.widget-share-icon a {
    margin: 0;
    padding: 0;
    border: 0;
    width: 32px;
    height: 32px;
    display: block;
}

.share-facebook {
    background: transparent url('/img/sprite-page-sharetool.png') 0 0 no-repeat;
}

.share-twitter {
    background: transparent url('/img/sprite-page-sharetool.png') -42px 0 no-repeat;
}

.share-googleplus {
    background: transparent url('/img/sprite-page-sharetool.png') -84px 0 no-repeat;
}

.share-email {
    background: transparent url('/img/sprite-page-sharetool.png') -126px 0 no-repeat;
}

.share-url {
    background: transparent url('/img/sprite-page-sharetool.png') -168px 0 no-repeat;
}

#share-url .close {
    width: 20px;
    height: 20px;
    background: transparent url('/img/icon-clearclose.png') center center no-repeat;
}

#share-url .close {
  filter: alpha(opacity=100);
  opacity: 100;
}

#share-url .close:hover,
#share-url .close:focus {
  filter: alpha(opacity=100);
  opacity: 100;
}

#share-url .popover-title {
    padding: 4px;
    background-color: transparent;
    border: none;
}

#share-url input[type='text'] {
    width: 240px;
    height: auto;
}

/* Search widget */

.search-box,.close-icon,.search-wrapper { position: relative; }

.search-wrapper {
    width: 155px; /* Responsive definition required */
    margin: 12px 0 0 10px;
    padding: 0;
    border: 0;
}

.search-wrapper input:focus::-webkit-input-placeholder { color:transparent;} /* WebKit browsers */
.search-wrapper input:focus:-moz-placeholder { color:transparent; } /* Mozilla Firefox 4 to 18 */
.search-wrapper input:focus::-moz-placeholder { color:transparent; } /* Mozilla Firefox 19+ */
.search-wrapper input:focus:-ms-input-placeholder { color:transparent; } /* Internet Explorer 10+ */

.search-box {
    height: 26px;
    width: 150px;
    margin-top: 0;
    padding: 3px 25px 3px 7px;
    border: 1px solid #999;
    -webkit-border-radius: 13px;
       -moz-border-radius: 13px;
            border-radius: 13px;
    outline: 0;
    font-size: 13px;
}

.close-icon {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 128px; /* Responsive definition required */
    height: 16px;
    width: 16px;
    padding: 0;
    border: 0;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    background: #ff8585 url('/img/icon-clearclose.png') center center no-repeat;
}

.search-box:invalid ~ .close-icon { display: none; }

#search-results {
  position: absolute;
  top: 25px;
  left: 0;
    min-height: 150px;
  width: 350px;
  z-index: 1060;
  display: none;
  padding: 1px;
  padding-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  margin-top: 10px;
  margin-left: -200px;
}

#search-results > .arrow,
#search-results > .arrow:after {
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
#search-results > .arrow {
  border-width: 11px;
}
#search-results > .arrow:after {
  content: "";
  border-width: 10px;
}
#search-results > .arrow {
  margin-top: -11px;
  margin-left: 210px;
  border-top-width: 0;
  border-bottom-color: #e0e0e0;
}
#search-results > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #e0e0e0;
}

#search-results h2 {
    margin: 0 0 10px 0;
    padding: 5px 10px;
    font-size: 14px;
    color: #069;
    background-color: #e0e0e0;
    border-bottom: 1px solid #ccc;
    text-shadow: 1px 1px #fff;
}

.q-item, .q-no-item {
    margin: 0;
    padding: 5px 10px;
}

.q-item:hover {
    background-color: #edf5fe;
}

.q-item > .type
{
	text-transform: capitalize;
	font-weight: bold;
}


.r480 {
    position: relative;
    display: block;
    width: 480px;
    height: 360px;
    margin: auto;
    border: 0;
    padding: 0;
    background-color: #999;
}

.r480.georgetown {
    background: transparent url('/img/poster-georgetown-480.jpg') center center no-repeat;
}

.r480.haunted {
    background: transparent url('/img/poster-haunted-480.jpg') center center no-repeat;
}

.r480.go {
    background: transparent url('/img/poster-go-480.jpg') center center no-repeat;
}

.r480.waltz {
    background: transparent url('/img/poster-waltz-480.jpg') center center no-repeat;
}

.r480.party {
    background: transparent url('/img/poster-party-480.jpg') center center no-repeat;
}

.r480.copacabana {
    background: transparent url('/img/poster-copacabana-480.jpg') center center no-repeat;
}

.button-play {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background: transparent url('/img/button-play.png') center center no-repeat;
}

.commentary-on {
    color: green;
}

.commentary-off {
    color: #999;
}

.page-main-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    height: 125px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    margin-top: 51px;
    padding-top: 9px;
}

.page-main-title h1 span
{
    display: none;
}

.clip-page-main-title,
.term-page-main-title,
.generic-page-main-title {
    height: 70px;
}

.page-main-title.shrink {
    height: 50px;
    box-shadow: 0px 2px 20px #999;
}

.page-main-title h1
{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.page-main-title.shrink h1
{
    margin-top: 0;
    margin-right: 10px;
    float: left;
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.page-main-title.shrink h1 span
{
    display: inline;
}

.page-main-title.shrink .index-navbar-container {
    float: left;
}

.page-main-title.shrink #nav-index-list {
    padding: 0;
}

.page-main-title.shrink #nav-index-list a {
	height: 36px;
	width: 36px;
	line-height: 36px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}



#index-list-page {
    margin-top: 130px;
}

.list-item {
    padding: 5px 0 6px 0;
    margin: 0;
}

.item-title {
    font-size: 18px;
    font-weight: normal;
}

#index-list-page {display: none;}

.list-group-title
{
	height: 44px;
	width: 44px;
	line-height: 44px;
	display: inline-block;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	background-color: #96ceeb;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	text-align: center;
	vertical-align: middle;
}

.list-group-title:hover {
    text-decoration: none;
    color: #fff;
}

.list-group hr {
    margin: -20px 0 40px 0;
    border: 0;
    border-top: 1px solid #efefef;
}

#nav-index-list {
    padding: 0 0 20px 0;
}

#nav-index-list a {
	height: 40px;
	width: 40px;
	padding: 0;
	line-height: 40px;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	/*background-color: #96ceeb;*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;
}

#index-list-navbar .nav-pills > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

#index-list-navbar .nav-pills > li > a:focus {
  background-color: transparent;
}

#index-list-navbar .nav-pills > li.active > a {
  color: #000;
  text-decoration: none;
  background-color: #eee;
}

.index-navbar-container {
    padding: 0;
}

.index-side-navbar-container {
    position: fixed;
    right: 0px;
    top: 51px;
    z-index: 1010;
    width: 40px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    border-left: 1px solid #efefef;
    display: none;
}

.index-side-navbar-container #nav-index-list {
    float: none;
    background-color: #fff;
    margin: 0;
    padding: 10px 0 10px 5px;
}

.index-side-navbar-container #nav-index-list li {
    float: none;
    background-color: #fff;
}

.index-side-navbar-container #nav-index-list a {
	height: 24px;
	width: 24px;
	line-height: 24px;
	font-size: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.index-side-navbar-container #index-list-navbar .nav-pills > li > a:hover {
  background-color: #ccc;
}

.index-side-navbar-container #index-list-navbar .nav-pills > li.active > a {
  background-color: #ccc;
}

.clip-index-list-page {
    display: block !important;
    margin-top: 105px !important;
}

.clip-list .list-item {
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
}

.item-poster {
    width: 150px;
    position: relative;
    float: left;
}

.item-poster img {
    height: 110px;
}

.item-poster .clip-length {
    width: 35px;
    margin-top: 0;
    margin-right: 0;
    padding: 0 5px;
    font-weight: 500;
    font-size: 12px;
    background-color: #000;
    color: #fff;
    height: 16px;
    line-height: 16px;
    opacity: .75;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 2px;
}

.item-poster .clip-commentary {
    margin-top: 0;
    margin-right: 0;
    padding: 0 5px;
    font-weight: 500;
    font-size: 12px;
    background-color: #000;
    color: #fff;
    height: 16px;
    line-height: 16px;
    opacity: .75;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 2px;
}

.item-poster .with-annotation {
    color: #ff3;
}

.item-poster .clip-commentary:before {
    font-family: VideoJS;
    content: "\e00c";
}

.item-data {
    padding-left: 15px;
    float: left;
    width: 310px;
}

.item-clip-terms {
    padding-left: 10px;
    float: left;
    padding-top: 38px;
    width: 180px;
}

.item-clip-commentator {
    padding-left: 10px;
    float: left;
    padding-top: 38px;
}

.item-data .item-title {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Faculty Partners Bio Page */

.bio-set {
    padding: 20px 0;
    min-height: 160px;
}

.bio-set .photo {
    float: left;
    margin: 0 30px 0 0;
}

.bio-set .photo img {
    width: 160px;
    height: 160px;
}

.bio-set .data {
    margin: 0 0 0 190px;
}

.bio-set .data h3 {
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: normal;
}

.bio-set .data h3 .name {
    display: block;
    line-height: 34px;
}

.bio-set .data h3 .title {
    font-size: 16px;
    color: #999;
    line-height: 22px;
    display: block;
}

.bio-set .data h3 .location {
    font-size: 16px;
    color: #999;
    line-height: 22px;
    display: block;
}

.bio-div {
    margin-left: 190px;
}





/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Default */
body#cflg-home {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 0;
  position: relative;
  background-color: #000;
    color: #fff;
}

#cflg-main-banner {
    height: 540px;
    position: relative;
}
#cflg-slideshow {
    height: 540px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
#cflg-slideshow div {
    height: 540px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#cflg-promo {
    height: 540px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}
#cflg-logo {
    margin: 20px auto;
    width: 230px;
    height: 65px;
    background: transparent url('/img/logo-cflg-home.png') center center no-repeat;
    background-size: cover;
}
#cflg-video {
    width: 320px;
    height: 204px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-size: 24px;
    line-height: 181px;
    text-align: center;
}
#cflg-video .video-js {
    width: 320px;
    height: 204px;
}
#cflg-lead {
    width: auto;
    height: auto;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#cflg-lead p {
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
}

#cflg-highlights {
    margin-top: 20px;
    text-align: center;
}

#cflg-highlights h1 { 
    font-weight: normal;
    font-size: 30px;
}

#cflg-highlights p {
    padding: 0 10px;
    font-size: 14px;
    color: #ccc;
}

#cflg-highlights hr {
    border-top: 1px solid #666;
}

.btn-cflg {
    margin: 20px auto;
    display: block;
    width: 140px;
}

/* Extra small devices ( 767px and smaller) */
@media (max-width: 767px) {
    /* Faculty Partners Bio Page */
    .bio-set .photo {
        float: none;
        margin: 0 0 30px 0;
    }
    .bio-set .photo img {
        width: 200px;
        height: 200px;
        margin: auto;
        display: block;
    }
    .bio-set .data {
        margin: 0;
    }
    .bio-set .data h3 {
        text-align: center;
    }
    .bio-div {
        margin-left: 0;
    }
    .index-navbar-container #nav-index-list a {
        height: 24px;
        width: 24px;
        line-height: 24px;
        font-size: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
    }
    #nav-index-list {
        margin-left: 0px;
    }
    .shrink .index-navbar-container #nav-index-list a {
	height: 24px;
	width: 24px;
	line-height: 24px;
	font-size: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
    }
    .shrink .index-navbar-container {
        margin-left: 10px;
        margin-top: 0px;
    }
    .widget-term-clip { width: 332px; }
    .widget-clip .video {
        float: none;
    }
    .widget-clip .data {
        margin: 10px 0 0 0;
    }
    .widget-clip .data dl {
        margin-bottom: 0;
    }
    .widget-term-clip .video-js {
        width: 320px;
        height: 240px;
    }
    .widget-allterms-menu #wrapper {
        width: 100%;
    }
}

/* Extra small devices ( 767px and smaller) and portrait */
@media (max-width: 767px) and (orientation: portrait) {
    .index-side-navbar-container {
        display: block;
    }
    .index-navbar-container {
        display: none;
    }
    #index-list-page {
        margin-right: 24px;
        padding-right: 5px;
        border-right: 1px solid #efefef;
    }
    .mobile-main-title {
        height: 70px;
    }
    .mobile-content {
        margin-top: 105px !important;
    }
    .mobile-content .list-group hr {
        border-top: 1px solid #96ceeb;
    }
}

/* Intermediate devices (mini, android) */
@media (min-width: 530px) and (max-width: 767px) {
    #cflg-main-banner {
        height: 630px;
    }
    #cflg-slideshow {
        height: 630px;
    }
    #cflg-slideshow div {
        height: 630px;
    }
    #cflg-promo {
        height: 630px;
    }
    #cflg-video {
        width: 480px;
        height: 306px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        line-height: 272px;
    }
    #cflg-video .video-js {
        width: 480px;
        height: 306px;
    }
    .widget-term-clip { width: 492px; }
    .widget-clip .video {
        float: none;
    }
    .widget-clip .data {
        margin: 10px 0 0 0;
    }
    .widget-clip .data dl {
        margin-bottom: 0;
    }
    .widget-term-clip .video-js {
        width: 480px;
        height: 360px;
    }
    .widget-allterms-menu #wrapper {
        width: 300px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #cflg-main-banner {
        height: 710px;
    }
    #cflg-slideshow {
        height: 710px;
    }
    #cflg-slideshow div {
        height: 710px;
    }
    #cflg-promo {
        height: 710px;
    }
    #cflg-logo {
        margin: 40px auto;
        width: 350px;
        height: 99px;
    }
    #cflg-video {
        width: 480px;
        height: 306px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        line-height: 272px;
    }
    #cflg-video .video-js {
        width: 480px;
        height: 306px;
    }
    #cflg-lead {
        width: auto;
        height: auto;
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }    
    #cflg-lead p {
        font-size: 24px;
        text-align: center;
    }
    #cflg-highlights h1 { 
        font-weight: normal;
        font-size: 30px;
    }
    #cflg-highlights p {
        padding: 0 10px;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .index-navbar-container #nav-index-list a {
        height: 34px;
        width: 34px;
        line-height: 34px;
        font-size: 12px;
        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        border-radius: 17px;
    }
    .shrink .index-navbar-container #nav-index-list a {
        height: 28px;
        width: 28px;
        line-height: 28px;
        font-size: 12px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;
    }
    .shrink .index-navbar-container {
        margin-top: 5px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #cflg-main-banner {
        height: 580px;
    }
    #cflg-slideshow {
        height: 580px;
    }
    #cflg-slideshow div {
        height: 580px;
    }
    #cflg-promo {
        height: 580px;
    }
    #cflg-logo {
        margin: 40px auto;
        width: 450px;
        height: 127px;
    }
    #cflg-video {
        width: 480px;
        height: 306px;
        float: left;
        margin-left: 20px;
        margin-right: 0;
        line-height: 272px;
    }
    #cflg-video .video-js {
        width: 480px;
        height: 306px;
    }
    #cflg-lead {
        width: 400px;
        height: 306px;
        float: right;
        margin-left: 0;
        margin-right: 20px;
        padding-bottom: 0;
    }
    #cflg-lead p {
        font-size: 24px;
        text-align: left;
    }
    #cflg-highlights h1 { 
        font-weight: normal;
        font-size: 36px;
    }
    #cflg-highlights p {
        padding: 0 20px;
        font-size: 16px;
    }
    .widget-allterms-menu #wrapper {
        width: 100%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #cflg-main-banner {
        height: 580px;
    }
    #cflg-slideshow {
        height: 580px;
    }
    #cflg-slideshow div {
        height: 580px;
    }
    #cflg-promo {
        height: 580px;
    }
    #cflg-logo {
        margin: 40px auto;
        width: 450px;
        height: 127px;
    }
    #cflg-video {
        width: 480px;
        height: 306px;
        float: left;
        margin-left: 100px;
        margin-right: 0;
        line-height: 272px;
    }
    #cflg-video .video-js {
        width: 480px;
        height: 306px;
    }
    #cflg-lead {
        width: 400px;
        height: 306px;
        float: right;
        margin-left: 0;
        margin-right: 100px;
        padding-bottom: 0;
    }
    #cflg-lead p {
        font-size: 24px;
        text-align: left;
    }
    #cflg-highlights h1 { 
        font-weight: normal;
        font-size: 36px;
    }    
    #cflg-highlights p {
        padding: 0 20px;
        font-size: 16px;
    }
    .widget-allterms-menu #wrapper {
        width: 100%;
    }
}