{{ $clips := where .Site.Pages ".Type" "clip" }}
{{ $terms := where .Site.Pages ".Type" "term" }}
[{{ range $index, $page := $clips }}{{ if $index }},{{ end }}
{
   "type": "{{$page.Type}}",
   "url": "{{$page.RelPermalink}}",
   "title": "{{$page.Title}}",
   "film": "{{$page.Params.film}}",
   "director_first": "{{$page.Params.director_first}}",
   "director_last": "{{$page.Params.director_last}}",
   "source": "{{$page.Params.source}}",
   "year": "{{$page.Params.year}}",
   "length": "{{$page.Params.length}}",
   "clipterms": [{{ range $ctindex, $term := $page.Params.clipterms }}{{ if $ctindex }}, {{ end }}"{{ $term }}"{{ end }}]
}{{ end }}{{ range $index, $page := $terms }},
{
   "type": "{{$page.Type}}",
   "url": "{{$page.RelPermalink}}",
   "title": "{{$page.Title}}",
   "content": "{{ $page.PlainWords }}"
}{{ end }}]
