{{ partial "header.html" . }}

<div class="page-main-title">
    <div class="container mobile-xs">
        <h1><span>Term:</span> {{.Title}}</h1>
    </div>
</div>

        <div class="row page-content">
          <div class="col-md-9">
        {{.Content}}
          </div>
          <div class="col-md-3">
          <hr class="visible-xs visible-sm" />

            {{ partial "widget-share.html" . }}

          <hr class="visible-xs visible-sm" />

{{ if .Params.relatedterms }}
<div class="widget-related-terms">
    <h4>Explore Related Terms</h4>
    <ul>
    {{ range .Params.relatedterms }}<li><a href="/term/{{ . | urlize | lower}}/">{{ . }}</a></li>{{ end }}
    </ul>
</div>
{{ end }}

          <hr class="visible-xs visible-sm" />

          
<div class="widget-allterms-menu">
    <h4>See Another Term <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> </h4>
<div id="wrapper">
  <ul>
    {{ $terms := where .Site.Pages ".Section" "term" }}
    {{ range  $terms.ByTitle }}
    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
    {{ end }}
</ul>
</div>
</div>


          </div>
        </div>

{{ partial "footer.html" . }}
