<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "meta.html" . }}
    <title>Columbia Film Language Glossary</title>

    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon.png" />
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ .Site.BaseURL }}css/site.css" rel="stylesheet" type="text/css">

    <!-- CSS for cookie policy -->
    <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <!-- Shield's up -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}browser_shield/shield.css" type="text/css" media="all" />
    <script src="{{ .Site.BaseURL }}browser_shield/browserdetect.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}browser_shield/shield.js"></script>
    <script type="text/javascript">
    /* Select from list: Chrome, Firefox, Safari, MSIE */
    shieldbrowser({"Firefox":39,"Safari":6,"MSIE":11,"Chrome":43});
    </script>

    <!-- OGG -->
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="Columbia Film Language Glossary" />
    <meta property="og:description" content="The Columbia Film Language Glossary is an innovative teaching tool for the study of film, designed to enhance screenings, readings, lectures, and discussions throughout the duration of a course" />
    <meta property="og:image" content="{{ .Site.BaseURL }}img/logo-cflg-ogg.png" />
  </head>

  <body lang="en" id="cflg-home">
    <div id="shieldbox"></div>