    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The Columbia Film Language Glossary is a teaching tool designed to enhance the study of film. The Glossary features key terms in film studies selected by Columbia faculty and illustrated with detailed explanations, film clips, and visual annotations.">
    <meta name="title" content="Columbia Film Language Glossary">
    <meta name="author" content="Columbia University">
