    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The Columbia Film Language Glossary is an innovative teaching tool for the study of film, designed to enhance screenings, readings, lectures, and discussions throughout the duration of a course">
    <meta name="author" content="Columbia University">
