            <div class="widget-share">
            <h4>Share This {{ .Section }}</h4>
            <ul class="widget-share-icons clearfix">
                <li><span class="widget-share-icon share-facebook"><a rel="nofollow" class="share-window" href="http://www.facebook.com/share.php?u={{.Permalink}}&title={{.Title}}"></a></span></li>
                <li><span class="widget-share-icon share-twitter"><a rel="nofollow" class="share-window" href="https://twitter.com/intent/tweet?text=Columbia%20Language%20Film%20Glossary:%20{{ .Title }}&url={{ .Permalink }}&hashtags=filmglossary&via=ColumbiaCTL"></a></span></li>
                <li><span class="widget-share-icon share-googleplus"><a rel="nofollow" class="share-window" href="https://plus.google.com/share?url={{ .Permalink }}"></a></span></li>
                <li id="share-url"><span class="widget-share-icon share-url"><a rel="nofollow" href="javascript://"></a></span>
                    <div class="content hide">
        <div class="form-group">
        <h5>Link to this {{ .Section }}</h5>
            <input
                type="text" 
                class="form-control"
                onclick="this.select()"
                value="{{ .Permalink }}" />
        </div>
    </div>
                </li>
            </ul>
            </div>
