<html>
<head><title>Film Language Glossary</title>
</head>

<body>
<h1>About the Film Language Glossary</h1>

<p>The Film Language Glossary is an innovative teaching tool for the study of film, designed to enhance screenings, readings, lectures, and discussions throughout the duration of a course. It provides definitions of essential terms used in basic and advanced film courses that are representative of all the major categories of film studies: practical terminology, technical terminology, the language of business, and historical terms, as well as the language of criticism and theory. Through the use of multimedia within the definitions, users will have a more complete understanding of the terms being defined—an explanation of the theory and a demonstration of the practice. Specifically, terms combine visual text, film clips, and audio commentary in creative ways, delivering them in high-quality media for classroom use and private study.</p>


<p>The Film Language Glossary is available to Columbia students over the campus network. Definitions and audio commentary are written by faculty at Columbia University. The glossary will continue to grow each academic semester, as new terms are written by the teaching staff. In addition, selections from graduating MFA students in the Film Division of the School of the Arts can also be found on the site.</p>

<p>If you are interested in contributing to the glossary or using it in your course, please send an e-mail to ccnmtl-filmglossary@columbia.edu.</p>

<h2>Copyrights and Permissions</h2>

<p>The Film Language Glossary is developed and maintained by the Columbia Center for New Media Teaching and Learning (CCNMTL) for the purpose of promoting and advancing education and scholarship related to film and media studies. Other uses are not authorized by CCNMTL or Columbia University. Inquiries about copyright or other matters may be sent by e-mail to ccnmtl-filmglossary@columbia.edu.</p>

<p>For information about copyright at Columbia University, visit the website of the Copyright Advisory Office at http://copyright.columbia.edu/copyright/.</p>

<p>For DMCA notices, please see: http://www.columbia.edu/content/copyright.html. E-mail address for DMCA notices: copyright-abuse@columbia.edu.</p>


</body>
</html>
