{{ partial "header-home.html" . }}

<div id="cflg-main-banner" class="clearfix">
    <div id="cflg-slideshow">
    <div style="background-image: url('{{ .Site.BaseURL }}img/assets/background/a-gamesters-life.jpg')"></div>
    <div style="background-image: url('{{ .Site.BaseURL }}img/assets/background/antoine-runs-away.jpg')"></div>
    <div style="background-image: url('{{ .Site.BaseURL }}img/assets/background/dancing.jpg')"></div>
    <div style="background-image: url('{{ .Site.BaseURL }}img/assets/background/in-the-garden.jpg')"></div>
    <div style="background-image: url('{{ .Site.BaseURL }}img/assets/background/the-pleasure-dome.jpg')"></div>
    <div style="background-image: url('{{ .Site.BaseURL }}img/assets/background/waiting-on-a-friend.jpg')"></div>
    </div>

    <div id="cflg-promo">
        <div id="cflg-logo"></div>
        <div class="container">
            <div id="cflg-lead">
            <p>The Film Language Glossary is a teaching tool for the study of film, designed to enhance screenings, readings, lectures, and discussions throughout the duration of a course.</p>
            <a href="{{ .Site.BaseURL }}term/" class="btn btn-info btn-lg btn-cflg">Action!</a>
            </div>
            <div id="cflg-video">
                <video id="cflg-video-clip" class="video-js vjs-default-skin vjs-big-play-centered" poster="{{ .Site.BaseURL }}img/assets/clipposter/promo-poster.jpg" 
                controls preload="auto" width="auto" height="auto" data-setup='{}'>
                    <source src="http://stream.ccnmtl.columbia.edu/public/5232c1a0-5e8b-47ed-93f3-4be74ad1dd93_480-Film_Language_Glossary_Introduction_et.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div><!-- /#cflg-main-banner -->

<div class="container" id="cflg-highlights">
    <div class="row">
        <div class="col-sm-4">
            <h1>Resourceful</h1>
            <p>Quisque eleifend ante eget justo tempor egestas. Ut mi sapien, finibus nec volutpat et, imperdiet a ipsum. Praesent vitae ipsum dolor. Sed vel fermentum massa, porta facilisis sapien. Nulla in.</p>
            <a href="{{ .Site.BaseURL }}clip/" class="btn btn-default btn-lg btn-cflg">Watch clips</a>
            <hr class="visible-xs" />
        </div>
        <div class="col-sm-4">
            <h1>Authoritative</h1>
            <p>Etiam eu massa tellus. Nullam et lobortis lacus. Quisque euismod scelerisque bibendum. Pellentesque placerat euismod aliquet. Cras a arcu nec lectus consectetur fringilla. Aenean eget consequat neque.</p>
            <a href="{{ .Site.BaseURL }}bios/" class="btn btn-default btn-lg btn-cflg">Read bios</a>
            <hr class="visible-xs" />
        </div>
        <div class="col-sm-4">
            <h1>Educational</h1>
            <p>Suspendisse varius mollis lectus. Nulla eleifend condimentum mauris at dapibus. Praesent et purus vel ex eleifend cursus vel ac lorem. Morbi dolor nulla, aliquam non rhoncus id, venenatis eu nisi.</p>
            <a href="{{ .Site.BaseURL }}" class="btn btn-default btn-lg btn-cflg">Use it</a>
        </div>
    </div><!-- /.row -->
</div>


<script>
jQuery(window).resize(function() {
    clearTimeout(window.resizedFinished);
    window.resizedFinished = setTimeout(function(){
        var browserWidth= window.outerWidth;
        
    }, 500);
});
</script>
{{ partial "footer-home.html" .}}
