{{ partial "header.html" . }}

<h1>Clips</h1>

<table class="table table-striped table-condensed">
<tr>
<th>Sequence</th>
<th>Film</th>
<th>Director</th>
<th>Appearing in terms</th>
<th>Commentary</th>
<th>Year</th>
<tr>
{{ range .Data.Pages.ByTitle }}
<tr>
<td><a href="{{.Permalink}}">{{ .Title }}</a> ({{.Params.length}})</td>
<td>{{ .Params.film }}</td>
<td>{{ if .Params.director }}{{.Params.director}}{{else}}{{ .Params.director_last }},
	{{.Params.director_first}}{{ end }}</td>
<td>{{ range $i, $e := .Params.clipterms }}{{if $i}}<br />{{end}}<a href="/term/{{ . | urlize | lower}}/">{{$e}}</a> {{ end }}</td>
<td>{{ .Params.commentator }}</td>
<td>{{ .Params.year }}</td>
</tr>
{{ end }}
</table>
{{ partial "footer.html" . }}
