{{ partial "header.html" . }}

<div class="page-main-title index-page-main-title">
    <div class="container mobile-xs">
        <h1>Term Index</h1>
        <div class="container-fluid index-navbar-container">
            <div id="index-list-navbar">
                <ul class="nav navbar-nav nav-pills" id="nav-index-list"></ul>
            </div>
        </div>
    </div>
</div>

<div class="index-side-navbar-container">
    <div id="index-list-navbar">
        <ul class="nav navbar-nav nav-pills side-nav-index-list" id="nav-index-list"></ul>
    </div>
</div>


<div id="index-list-page" class="clearfix">
    <div id="index-list">
        {{ range .Data.Pages.ByTitle }}
        <!-- The following cannot have a line-break for the script to work -->
        <div class="list-item"><div class="item-title"><a href="{{.Permalink}}">{{.Title}}</a></div><div class="item-summary">{{ if .Params.termsummary }}<p>{{.Params.termsummary }}</p>{{else}}{{.Summary}}{{ end }}</div></div>
        {{ end }}
    </div>
</div>

<script src="/js/alphalist.js" type="text/javascript" language="javascript"></script>
<script src="/js/scrollspy.js" type="text/javascript" language="javascript"></script>

{{ partial "footer.html" . }}